li:hover {
    background-color: tomato;
    transition: 0.5s;
    cursor: pointer;
}

span{
    float: right;
    text-align: center;
}
span:hover{
    background-color: blue;
    transition: 0.5s;
    cursor: pointer;
}

.elmonOtsikko{
    text-align: center;
}

.elmonTeksti{
    text-align: center;
    float: bottom;
}
footer{
    background-color: lightgray;
}

.footerText{
    float: left;
    color: azure;
}